<div class="row">
    <div class="offset-m1 col s12 m10 #fafafa grey lighten-5 z-depth-5">
        <h1 class="center-align">La PJ's Team !</h1>
        <hr class="divider">
        <div class="row">
            <div class="col s3">
                <span class="badge blue">{{teamName.length}}</span> Equipes :
            </div>
            <div class="col offset-s1 s3">
                <span class="badge blue">4</span> Chef d'equipe :
            </div>
        </div>
        <ul class="collapsible" data-collapsible="accordion">
            <li *ngFor="let team of teamName">
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{team.name}}<span
                        class="badge blue">{{getNbrMembers(team.name)}}</span>
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <ng-container *ngFor="let single of allUsers">
                            <ng-container *ngIf="single.team === team.name">
                                <div class="col m4 s12">
                                    <div class="center team-member">
                                        <img class="responsive-img img-thumbnail bounce-in"
                                             src="data:image/jpeg;base64,{{single.img}}" alt="" style="width: 460px">
                                        <div class="team-content fade-up">
                                            <h5>{{single.name}}<br>
                                                <small class="role muted">{{single.job}}</small>
                                            </h5>
                                            <p>{{single.quote}}</p><br>
                                            <p>{{single.skills}}</p>
                                            <a *ngIf="single.email !== ''" class="btn-floating red"
                                               href="mailto:{{single.email}}" title="Email de {{single.name}}"
                                               target="_blank"><i class="material-icons">email</i></a>
                                            <a *ngIf="single.phone !== ''" class="btn-floating green"
                                               href="tel:{{single.phone}}" title="Numéro de {{single.name}}"
                                               target="_blank"><i class="material-icons">smartphone</i></a>
                                            <a *ngIf="single.website !== ''" class="btn-floating blue"
                                               href="{{single.website}}" title="Site internet de {{single.name}}"
                                               target="_blank"><i class="material-icons">reply_all</i></a>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </li>
            <li>
                <div (click)="myFn()" class="collapsible-header"><i
                        class="material-icons">filter_drama</i>Undefined<span
                        class="badge blue">{{getNbrMembers("Undefined")}}</span>
                </div>
                <div class="collapsible-body">
                    <div *ngIf="clicked === true">
                        <div *ngFor="let single of allUsers">
                            <div class="row">
                                <div class="col offset-m4 m4 s12">
                                    <div class="center team-member">
                                        <img class="responsive-img img-thumbnail bounce-in"
                                             src="data:image/jpeg;base64,{{single.img}}" alt="">
                                        <div class="team-content fade-up">
                                            <h5>{{single.name}}<br>
                                                <small class="role muted">{{single.job}}</small>
                                            </h5>
                                            <p>{{single.quote}}</p><br>
                                            <p>{{single.skills}}</p>
                                            <a *ngIf="single.email !== ''" class="btn-floating red"
                                               href="mailto:{{single.email}}" title="Email de {{single.name}}"
                                               target="_blank"><i class="material-icons">email</i></a>
                                            <a *ngIf="single.phone !== ''" class="btn-floating green"
                                               href="tel:{{single.phone}}" title="Numéro de {{single.name}}"
                                               target="_blank"><i class="material-icons">smartphone</i></a>
                                            <a *ngIf="single.website !== ''" class="btn-floating blue"
                                               href="{{single.website}}" title="Site internet de {{single.name}}"
                                               target="_blank"><i class="material-icons">reply_all</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
