<div class="row">
    <div class="offset-m1 col s12 m10 #fafafa grey lighten-5 z-depth-5">
        <h1 class="center-align">La PJ's Team !</h1>
        <hr class="divider">
        <div class="row">
            <div class="col s3">
                <span class="badge blue">{{teamName.length}}</span> Equipes :
            </div>
            <div class="col offset-s1 s3">
                <span class="badge blue">4</span> Chef d'equipe :
            </div>
        </div>
        <ul class="collapsible" data-collapsible="accordion">
            <li *ngFor="let team of teamName">
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{team.name}}<span
                        class="badge blue">{{getNbrMembers(team.name)}}</span>
                </div>
                <div class="collapsible-body">
                    <div *ngFor="let single of allUsers">
                        <div *ngIf="single.team === team.name" class="row">
                            <div class="col offset-m4 m4 s12">
                                <div class="center team-member">
                                    <img class="responsive-img img-thumbnail bounce-in"
                                         src="data:image/jpeg;base64,{{single.img}}" alt="">
                                    <div class="team-content fade-up">
                                        <h5>{{single.name}}<br>
                                            <small class="role muted">{{single.job}}</small>
                                        </h5>
                                        <p>{{single.quote}}</p><br>
                                        <p>{{single.skills}}</p>
                                        <a *ngIf='single.email !== ""' class="btn btn-social btn-facebook"
                                           href="mailto:{{single.email}}" title="{{single.email}}"><i
                                                *ngIf='single.email !== ""' class="material-icons">email</i></a>
                                        <a *ngIf='single.team !== ""' class="btn btn-social btn-google-plus" href="#"
                                           title="{{single.team}}"><i *ngIf='single.team !== ""' class="material-icons">assignment</i></a>
                                        <a *ngIf='single.phone !== ""' class="btn btn-social btn-twitter" href="#"
                                           title="{{single.phone}}"><i *ngIf='single.phone !== ""'
                                                                       class="material-icons">phone</i></a>
                                        <a *ngIf='single.birth !== ""' class="btn btn-social btn-linkedin" href="#"
                                           title="{{single.birth}}"><i *ngIf='single.birth !== ""'
                                                                       class="material-icons">cake</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div (click)="myFn()" class="collapsible-header"><i
                        class="material-icons">filter_drama</i>Undefined<span
                        class="badge blue">{{getNbrMembers("Undefined")}}</span>
                </div>
                <div class="collapsible-body">
                    <div *ngIf="clicked === true">
                        <div *ngFor="let single of allUsers">
                            <div class="row">
                                <div class="col offset-m4 m4 s12">
                                    <div class="center team-member">
                                        <img class="responsive-img img-thumbnail bounce-in"
                                             src="data:image/jpeg;base64,{{single.img}}" alt="">
                                        <div class="team-content fade-up">
                                            <h5>{{single.name}}<br>
                                                <small class="role muted">{{single.job}}</small>
                                            </h5>
                                            <p>{{single.quote}}</p><br>
                                            <p>{{single.skills}}</p>
                                            <a *ngIf='single.email !== ""' class="btn btn-social btn-facebook"
                                               href="mailto:{{single.email}}" title="{{single.email}}"><i
                                                    *ngIf='single.email !== ""' class="material-icons">email</i></a>
                                            <a *ngIf='single.team !== ""' class="btn btn-social btn-google-plus"
                                               href="#" title="{{single.team}}"><i *ngIf='single.team !== ""'
                                                                                   class="material-icons">assignment</i></a>
                                            <a *ngIf='single.phone !== ""' class="btn btn-social btn-twitter" href="#"
                                               title="{{single.phone}}"><i *ngIf='single.phone !== ""'
                                                                           class="material-icons">phone</i></a>
                                            <a *ngIf='single.birth !== ""' class="btn btn-social btn-linkedin" href="#"
                                               title="{{single.birth}}"><i *ngIf='single.birth !== ""'
                                                                           class="material-icons">cake</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
