<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div class="row">
    <nav style="background-color: #222322">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">{{this.global.actualPage}}</a>
        <ul class="right">
          <li><a href="#" (click)="global.page = 1" title="Liste des membres PagesJaunes"> <i class="material-icons">assignment_ind</i></a>
          </li>
          <li><a href="#" (click)="global.page = 2" title="Modifier votre compte"> <i class="material-icons">settings</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<main>
  <div *ngIf="global.page > 1">
    <div *ngIf="global.page == 2">
      <app-login></app-login>
    </div>
    <div *ngIf="global.page == 3">
      <app-updater></app-updater>
    </div>
    <div *ngIf="global.page == 4">
      <app-post-update></app-post-update>
    </div>
  </div>
  <div *ngIf="global.page == 1">
    <app-listing></app-listing>
  </div>
</main>
<footer class="page-footer" style="background-color: #2c2d2c">

  <div class="footer-copyright" style="background-color: #222322">
    <div class="container">
      © PagesJaunes.fr
      <a class="grey-text text-lighten-4 right" href="#">Trombinoscope 2017</a>
    </div>
  </div>
</footer>
